.wall{
	display: grid;
	grid-gap: 20px;
	.card-info{
		font-size: 10px;
		.user{}
		.date{
			float: right;
			color: gray;
		}
	}
	.card{
		margin: auto;
		width: 80%;
		padding: 10px;
		display: grid;
		grid-gap: 10px;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
		box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
		-webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
		transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
		transition: box-shadow .1s ease,transform .1s ease;
		transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
		img{
			max-height: 150px;
			max-width: 100%;
			margin: auto;
		}
		p{
			font-size: 12px;
		}
	}
}